* {
    padding: 0px;
    margin: 0px;
}


body {
    display: flex;
    justify-content: center;
    background-color: black;
    background-size: cover;
}



.container {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    background-size: cover;
}



.cont {
     position: relative;
        width: 500px;
        height: 350px;
        border-radius: 20px;
        border: solid black 5px;
        background-color: rgb(28, 38, 38);  
        z-index: 1;
}



 .buttons {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}





.buttons button {
    width: 100%;
    height: 70px;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 254, 254);
    font-weight: 900;
    cursor: pointer;

}









.window {
    position: absolute;
    bottom: 0px;
    width: 60%;
    height: 50%;
    border-radius: 15px;
    background-color: rgb(255, 255, 255); 
    color: rgb(0, 0, 0);
    display: none;
    font-size: 30px;
    font-family: sans-serif;
    text-align: center;
}




.functions {
width: 520px;
height: 350px;
background-color:rgb(9, 16, 30);
border-radius: 20px;
border: solid black 5px;
color:rgb(40, 197, 197);
font-size: 12px;
font-family: sans-serif;
display: none;

}





#function1 {
display: none;

}




#function2 {
    display: none;
    
    }
    
    
    #function3 {
        display: none;
        
        }



.condition{
    width: 520px;
    height: 350px;
    background-color:rgb(9, 16, 30);
    border-radius: 20px;
    border: solid black 5px;
    color: aliceblue;
    display: none;


}
#condition1 {
    display: none;
    
    }
#condition2 {
    display: none;
    
    }
#condition3 {
    display: none;
    
    }





    @media only screen and (max-width: 1000px) {

        .container {
            
            display: grid;
            grid-template-rows: 180px auto auto ;
            row-gap:  0px;

        }
    
    
        .cont {
            width: 100%;
            height: 800px;
        }
    
    
        .condition{
            width: 300px;
            height: 250px;
            margin: 0;
            
        
        }

        .functions{
            width: 300px;
            height: 530px;
            margin: 0;
            }
            

      }











/* hw1 */

  
  /* Modal Content */
  .modal {
    display: none; 
    z-index: 1; 
    width: 100%; 
    height: 80%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4) ;
    color: white;
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }


#mybtn {
    width: 80px;
    height: 30px;
}

.par {
    margin-top: 50px;
    margin-left: 300px;
    width: 300px;
    height: 60px;
    color: black;
    background-color: white;

}
  
  /* The Close Button */
  .close {
    color: #ffffff;
    float: right;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #c5c5c5;
    text-decoration: none;
    cursor: pointer;
  }









  /* hw2 */
  /* hw2 */
  /* hw2 */

 #window2 {
    
    display: none;
    justify-content: center;
    align-items: center;
    width: 80%;
 }


.formcolor{
    width: 400px;
    height: 200px;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7) ;
    color: white;
}


input[type=text] {
    text-align: center;
    font-size: 20px;
    height: 30px;
}

#colorButton {
    color: white;
    background-color: rgba(0,0,0,0.7) ;

    margin-top: 20px;
width: 80px;
height: 45px;


}


/* hw3 */
/* hw3 */
/* hw3 */
/* hw3 */

#window3 {
    display: none;
    justify-content: center;
    align-items: center;
}

.formAvarage {
    border: 2px solid black;
    width: 500px;
    height: 300px;
}

#numbersAvarage {
    margin-top: 30px;
    width: 100px;
    height: 50px;
}


.result {
    width: 100px;
    height: 30px;
    font-size: 15px;
}

#sum {
    margin-top: 20px;
    text-align: left;
    margin-left:130px;
}

#avarage {
    text-align: left;
    margin-left: 130px;

}